services:
  planka-db:
    image: postgres:13-alpine
    container_name: planka-db
    environment:
      - POSTGRES_DB=planka
      - POSTGRES_USER=planka
      - POSTGRES_PASSWORD=
    volumes:
      - /path/to/planka/db:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - planka-network

  planka:
    image: lscr.io/linuxserver/planka:latest
    container_name: planka
    depends_on:
      - planka-db
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - BASE_URL=
      - DATABASE_URL=postgresql://planka:<password>@planka-db:5432/planka
      - DEFAULT_ADMIN_EMAIL=
      - DEFAULT_ADMIN_USERNAME=
      - DEFAULT_ADMIN_PASSWORD=
      - DEFAULT_ADMIN_NAME=
      - SECRET_KEY=
      - TRUST_PROXY=0
    volumes:
      - /path/to/containers/planka/data:/config
    ports:
      - 1337:1337
    restart: unless-stopped
    networks:
      - planka-network

networks:
  planka-network:
    driver: bridge