services:
  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    pid: host
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    environment:
      - TZ=America/Toronto
    volumes:
      - /ach/volumes/netdata/config:/etc/netdata
      - /ach/volumes/netdata/lib:/var/lib/netdata
      - /ach/volumes/netdata/cache:/var/cache/netdata

      # Host access for metrics
      - /:/host/root:ro,rslave
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro

      # Docker metrics
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "19999:19999"