services:
  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    ports:
      - "9093:9093"
    volumes:
      - /path/compose/alertmanager:/etc/alertmanager:ro
    networks:
      - monitoring

networks:
  monitoring:
    external: true