services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: "65534:65534"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-remote-write-receiver
    ports:
      - "9090:9090"
    restart: unless-stopped

    volumes:
      - /path/compose/prometheus:/etc/prometheus:ro
      - /path/volumes/prometheus/data:/prometheus

    networks:
      - monitoring


networks:
  monitoring:
    external: true
    name: monitoring