services:
  nut_exporter:
    image: ghcr.io/druggeri/nut_exporter:latest
    container_name: nut_exporter
    environment:
      - NUT_EXPORTER_SERVER=<IP>
      - NUT_EXPORTER_SERVERPORT=3493
      # optional auth (only ifls your NUT server requires it)
      - NUT_EXPORTER_USERNAME=<username>
      - NUT_EXPORTER_PASSWORD=<password>
      # optional: limit variables exported (comma-separated)
      - NUT_EXPORTER_VARIABLES=ups.status,battery.charge,battery.runtime,ups.load,input.voltage,output.voltage
    ports:
      - "9199:9199"
    restart: unless-stopped
    networks:
      - monitoring

networks:
  monitoring:
    external: true