services:
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3008:3000"
    environment:
      - TZ=America/Toronto
    volumes:
      - /ach/volumes/grafana:/var/lib/grafana
    restart: unless-stopped