services:
  peanut:
    image: brandawg93/peanut:latest
    container_name: peanut
    restart: unless-stopped

    ports:
      - "8092:8080"

    volumes:
      - /ach/volumes/peanut:/config

    environment:
      - WEB_PORT=8080
      - UPS_HOST=172.17.0.1        
      - UPS_PORT=3493
      - UPS_NAME=ups               # from: upsc -l
      - UPS_USER=achllys
      - UPS_PASSWORD=