services:
  loki:
    image: grafana/grafana
    container_name: loki
    command: -config.file=/etc/loki/loki.yml
    ports:
      - "3100:3100"
    volumes:
      - /path/compose/alloy-loki/loki/loki.yml:/etc/loki/loki.yml:ro
      - /path/volumes/loki:/loki
    restart: unless-stopped
    networks:
      - monitoring

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    command: run /etc/alloy/config.alloy --server.http.listen-addr=0.0.0.0:12345
    ports:
      - "12345:12345"
    volumes:
      - /path/compose/alloy-loki/alloy/config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - loki
    restart: unless-stopped
    networks:
      - monitoring

networks:
  monitoring:
    external: true