services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: unless-stopped
    volumes:
      - /opt/compose/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /ach/volumes/prometheus/data:/prometheus
