global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
      - targets: []
      scheme: http
      timeout: 10s
      api_version: v2
scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - localhost:9090
  - job_name: elzim
    static_configs:
      - targets: ['IP:9100']
  - job_name: netdata
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /api/v1/allmetrics
    params:
      format: [prometheus]
    scheme: http
    static_configs:
      - targets: ['IP:19999']
  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
      - targets: ['IP:8091']
  - job_name: blackbox
    scrape_interval: 15s
    metrics_path: /probe
    params:
      module: [http_2xx]  # Default HTTP check
    static_configs:
      - targets:
        - http://IP:8080  # Example target - change to your endpoint
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 'IP:9115'  # Blackbox Exporter's IP:Port