global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - "/etc/prometheus/rules/*.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "localhost:9090"

  - job_name: "node"
    static_configs:
      - targets:
          - "localhost:9100"

  - job_name: "cadvisor"
    scrape_interval: 5s
    static_configs:
      - targets:
          - "localhost:8080"

  - job_name: "uptime"
    scrape_interval: 30s
    metrics_path: /metrics
    basic_auth:
      username: ""
      password: ""
    static_configs:
      - targets:
          - "tld"

  - job_name: "telegraf"
    static_configs:
      - targets:
          - "localhost:9273"

  - job_name: "zfs_exporter"
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /metrics
    static_configs:
      - targets:
          - "localhost:9134"
    metric_relabel_configs:
      - source_labels: ["name"]
        regex: "^([^@]*).*"
        target_label: "filesystem"
        replacement: "$1"

      - source_labels: ["name"]
        regex: "^.*:.._(.*)$"
        target_label: "snapshot_type"
        replacement: "$1"

  - job_name: "netdata"
    metrics_path: /api/v1/allmetrics
    params:
      format: ["prometheus"]
    static_configs:
      - targets:
          - "localhost:19999"