services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /path/volumes/jellyfin:/config
      - /path/media/movies:/data/movies
      - /path/media/tv:/data/tv
      - /path/media/mixes:/data/mixes
    ports:
      - "8096:8096"
      - "8920:8920"
      - "7359:7359/udp"
      - "1900:1900/udp"
    restart: unless-stopped